
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  outline: 0px solid red;
}

html {
	height: 100%;
}

body {
	height: 100%;
	/* background-image: url("images/bglist.png"); */
		background-color: #ffaa4d;
	background-repeat: no-repeat;
	overflow: hidden;
}

div {
	opacity: 1;
}

.header {
	position: relative;
	background-image: url("images/bg.png");
	background-size: cover;
	height: 12%;
}

.title {
	position: absolute;
	color: black;
	left: 5%;
	right: 20%;
	top: 45%;
}

.home_button {
	position: absolute;
	background-image: url("images/menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	left: 80%;
	right: 0%;
	top: 0;
	bottom: 0;
}

.content {
	padding: 10px;
	background-color: #ffaa4d;
	height: 80vh;
}


.task {
	position: relative;
	box-shadow: 2px 2px 2px black;
	background-color: #fef4af;
	height: 10%;
}

.text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10%;
	right: 20%;
}

.check_box {
	position: absolute;
	background-image: url("images/not_check_blk.svg");
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	right: 90%;
	top: 0;
	bottom: 0;
}

.time {
	position: absolute;
	background-image: url("images/time.svg");
	background-repeat: no-repeat;
	background-position: center;
	top: 0;
	bottom: 0;
	left: 80%;
	right: 10%;
}

.favorite {
	position: absolute;
	background-image: url("images/empty_star.svg");
	background-repeat: no-repeat;
	background-position: center;
	top: 0;
	bottom: 0;
	left: 90%;
	right: 0%;
}

.task_name {
	position: absolute;
	top: 40%;
	color: black;
	
}

.footer {
	height: 10%;
}

.new_task {
	position: relative;
	background-color: #fe8f47;
}

.plus_button {
	position: absolute;
	background-image: url("images/add.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	top: 0;
	bottom: 0;
	left: 80%;
	right: 0%;
}

.button_text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 20%;
}

.favorite_task {
	position: absolute;
	background-image: url("images/empty_star.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	top: 0;
	bottom: 0;
	left: 80%;
	right: 0%;
}

.task_name {
	position: absolute;
	top: 30%;
	bottom: 30%;
	left: 2%;
	right: 25%;
}

.task_estate {
	position: relative;
	height: 40px;
}

.task_details {
	position: relative;
	height: auto;
}

.task_options {
	position: relative;
	height: auto;
}

.task_done {
	background-color: #fe8f46;
	position: absolute;
	/* top: 0%; */
	/* bottom: 0%; */
	left: 5%;
	right: 50%;
	margin-right: 0.5vw;
}

.task_stop {
	background-color: #e96330;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 50%;
	right: 5%;
	margin-left: 0.5vw;
}

.text_estate {
	position: absolute;
	left: 30%;
	color: white;
	line-height: 40px;
}

.icon_estate {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	top: 0;
	bottom: 0;
	left: 80%;
	right: 0%;
}

.button {
		box-shadow: 2px 2px 2px black;
		margin-bottom: 7px;
		height: 40px;
}
.task_done .icon_estate {
		background-image: url("images/check.svg");
		background-size: 60%;
}

.task_stop .icon_estate {
	background-image: url("images/close_menu.svg");
	background-size: 60%;
}

.task_options>div {
	position: relative;
	height: 45px;
}

.task_save {
	background-color: #fe8f46;
}

.task_cancel {
	background-color: #ffc845;
}

.task_delete {
	background-color: #e96330;
}

.text_options {
	position: absolute;
	left: 10%;
	right: 20%;
	color: white;
	line-height: 55px;
	height: 100%;
}

.icon_options {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	top: 0;
	bottom: 0;
	left: 80%;
	right: 0%;
}

.task_save .icon_options {
	background-image: url("images/save.svg");
	background-size: 35%;
}

.task_cancel .icon_options {
	background-image: url("images/close_menu.svg");
	background-size: 35%;
}

.task_delete .icon_options {
	background-image: url("images/delete.svg");
	background-size: 35%;
}

.task_details>div {
	position: relative;
	height: 45px;
}


.input_line div {
	position: absolute;
	left: 0;
	line-height: 40px;
}

.input_line input {
	position: absolute;
	top: 7px;
	bottom: 7px;
	right: 0;
	left: 30%;
}

.countdown {
	position: absolute;
	top: 7px;
	bottom: 7px;
	text-align: center;
}

