/* RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Basic Structure */

html,body {
    position: relative;
    background-color: #ffaa4d;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    background-size: auto 100%;
    opacity: 1;
}

.header {
    position: absolute;
    background-image: url("../images/bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 110px;
    line-height: 120px;
    width: 100vw;
    opacity: 1;
}

.content {
    position: absolute;
    height: auto;
    top: 115px;
    width: 98vw;
    padding: 2vw;
    font-size: 0.6rem;
    opacity: 1;
}

.footer {
    position: absolute;
    background-color: #fe8f47;
    background-image: url("../images/add.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: auto 70%;
    right: 1vw;
    width: 98vw;
    height: 55px;
    line-height: 50px;
    bottom: 3px;
    opacity: 1;
}

/*Specifc elements*/

.logo {
    position: absolute;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.shadow, .button {
    box-shadow: 2px 2px 2px black;
}

.button {
    color: white;
}

.title {
    position: absolute;
    font-size: 0.7rem;
    left: 2vw;
    width: 60vw;
    min-width: 140px;
}

.home {
    background-image: url("../images/menu.svg");
    right: 5vw;
    width: 45px;
}

.task {
    position: relative;
    background-color: #fef4af;
    height: 55px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 4.5px;
}

.checkbox {
    background-image: url("../images/not_check_blk.svg");
    left: 2vw;
    width: 30px;
}

.finished {
    opacity: 0.5;
}

.task > .finished {
    background-image: url("../images/check_blk.svg");
    opacity: 0.5;
}

.task_name {
    position: absolute;
    left: calc(2vw + 45px);
    max-width: 60%;
    max-height: 50px;
}

.status {
    background-image: url("../images/time.svg");
    width: 30px;
    right: calc(2vw + 45px);
}

.star {
    background-image: url("../images/empty_star.svg");
    right: 2vw;
    width: 30px;
}
.fave {
    right: 2vw;
    width: 30px;
    background-image: url("../images/full_star.svg");
}
.button_name {
    position: absolute;
    left: 5vw;
    font-size: 0.65rem;
    width: 50vw;
}

/*Task Menu*/

input {
    box-shadow:inset 0 0 5px black;
    text-align: center;
}

.task_name_input {
    position: absolute;
    height: 30%;
    width: 70%;
    left: 1vw;
    top: 35%;
    padding: 15px;
}

.task_status {
    position: absolute;
    left: 5vw;
    width: 90vw;
    height: 50px;
    line-height: 50px;
}

.task_status > .button {
    position: absolute;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 95% center;
    height: 100%;
    width: 49.5%;
}

.task_status .name {
    text-align: center;
}

.done {
    left: 0;
    background-image: url("../images/check.svg");
    background-color: #fe8f46;
}

.stop {
    right: 0;
    background-image: url("../images/close_menu.svg");
    background-color: #e96330;
}

.task_properties {
    position: absolute;
    width: 95vw;
    left: 2.5vw;
    top: calc(60px + 2vw);
}

.task_properties > div {
    position: relative;
    height: 50px;
    line-height: 50px;
}

.task_properties .name input{
    position: absolute;
}

.task_properties .name{
    position: absolute;
    left: 0;
}

.task_properties input{
    position: absolute;
    right: 0;
    width: 65%;
    height: 80%;
}

.countdown .name {
    position: relative;
    text-align: center;
}

.task_options {
    position: absolute;
    top: calc(60px + 2vw + 250px);
    width: 95vw;
    left: 2.5vw;
}

.task_options > div {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5px;
}

.task_options .button {
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 95% center;
}

.task_options .name {
    position: relative;
    left: 5vw;
}

.save {
    background-color: #fe8f46;
    background-image: url("../images/save.svg");
}

.cancel {
    background-color: #ffc845;
    background-image: url("../images/close_menu.svg");
}

.delete {
    background-image: url("../images/delete.svg");
    background-color: #e96330;
}

/*login*/

.login_page {
    font-size: 0.7rem;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.login_form {
    position: absolute;
    width: 30vw;
    height: 30vh;
    top: 30vh;
    left: 35vw;
    text-align: center;
}

.login_form input {
    position: absolute;
    width: 100%;
    height: 15%;
}

.login_form .welcome {
    font-size: 0.9;
    position: absolute;
    top: 10%;
    height: 10%;
    width: 100%;
}

.login_form .username {
    left: 0;
    top: 40%;
}

.login_form .pswd {
    left: 0;
    top: 60%;
}
.login_form .login {
    position: absolute;
    background-color: #e96330;
    font-size: 0.5rem;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
}
