/* RESET*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}


html,body {
    height: 100%;
    overflow: hidden;
    font-size: 25px;
}

body {
    background-color: #ffaa4d;
}
/* Main structure*/

.logo {
    position: absolute;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.shadow, .button {
    box-shadow: 2px 2px 2px black;
}

.header {
    position: relative;
    background-image: url("../images/bg.png");
    background-size: cover;
    height: 120px;
    margin-bottom: 20px;
}

.home {
    background-image: url("../images/menu.svg");
    background-size: 50px;
    height: 100%;
    right: 5%;
    left: 85%;
}

.title {
    position: absolute;
    height: 100%;
    line-height: 120px;
    left: 0;
    right: 15%;
    margin-left: 40px;
}

.content {
    position: fixed;
    overflow-y: auto;
    background-color: #ffaa4d;
    top: 120px;
    bottom: 50px;
    width: 100%;
}

.footer {
    position: fixed;
    background-color: #fe8f47;
    min-height: 50px;
    width: 98%;
    right: 1%;
    bottom: 5px;
    border-radius: 3px;
}

.task {
    position: relative;
    height: 60px;
    background-color: #fef4af;
    margin: 5px 10px 0px 10px;
}

.checkbox {
    background-image: url("../images/not_check_blk.svg");
    left: 0%;
    right: 90%;
    height: 100%;
}

.name {
    position: absolute;
    height: 100%;
    left: 10%;
    line-height: 60px;
}

.status {
    background-image: url("../images/time.svg");
    right: 10%;
    left: 80%;
    height: 100%;
}

.fave {
    background-image: url("../images/empty_star.svg");
    right: 0;
    left: 90%;
    height: 100%;
}

.add {
    background-image: url("../images/add.svg");
    height: 100%;
    right: 5%;
    left: 85%;
}
.footer>.name {
    line-height: 50px;
}

.task_name {
    position: absolute;
    height: 30%;
    right: 20%;
    left: 1%;
    bottom: 35%;
    box-shadow:inset 0 0 5px black;
}

.task_status {
    position: relative;
    height: 50px;
}

.done {
    position: absolute;
    background-color: #fe8f46;
    height: 80%;
    top: 10%;
    bottom: 10%;
    left: 5%;
    right: 50.5%;
}

.stop {
    position: absolute;
    background-color: #e96330;
    height: 80%;
    top: 10%;
    bottom: 10%;
    left: 50.5%;
    right: 5%;
}

.done > .logo {
    background-image: url("../images/check.svg");
}

.stop > .logo {
    background-image: url("../images/delete.svg");
}

.button > .logo {
    height: 100%;
    right: 1%;
    left: 80%;
}
.button {
    color: white;
}

.task_status .name {
    left: 20%;
    line-height: 40px;
}

.task_properties {
    position: relative;
    width: 100%;
    height: 200px;
}
.task_properties > div {
    position: relative;
    height: 40px;
    width: 100%;
    top: 5px;
}
.task_properties .name {
    position: absolute;
    font-size: 15px;
    line-height: 40px;
    height: 100%;
    left: 5%;
    right: 70%;
}

.countdown .name {
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
.task_properties input {
    position: absolute;
    box-shadow:inset 0 0 5px black;
    height: 80%;
    left: 30%;
    right: 2%;
}
.task_options {
    position: relative;
    width: 100%;
    height: 160px;
}

.task_options .button {
    height: 40px;
    margin: 5px 10px 5px 10px;
}

.task_options  .name {
    position: absolute;
    font-size: 18px;
    line-height: 40px;
    height: 100%;
    left: 10%;
    right: 70%;
}

.save {
    background-color: #fe8f46;
    position: relative;
    height: 40px;
    left: 0%;
    right: 0;
}
.save .logo {
    background-image: url("../images/save.svg");
}
.delete {
    background-color: #e96330;
    position: relative;
    height: 40px;
    left: 0%;
    right: 0;
}
.delete .logo {
    background-image: url("../images/delete.svg");
}
.cancel {
    background-color: #ffc845;
    position: relative;
    height: 40px;
    left: 0%;
    right: 0;
}
.cancel .logo {
    background-image: url("../images/close_menu.svg");
}

.button .logo {
    background-size: 25px;
}